.main{
  word-wrap:break-word;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.subject{
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reses{
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}