.container {
  display: flex;
  flex-direction:column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#eee;
}

.header{
}

.main{
  flex: 1;
  overflow-y: hidden;
}

