.container{
  display: flex;
}

.vote{
  display: flex;
  flex-direction: column;
}

.main{

}

.header{
  font-size: 0.8rem;
}

.reply{
  background-color: #ff5;
}

.self{
  background-color: #5f5;
}