@mixin dialog() {
  // https://qiita.com/shitake/items/213ba948729f39d133fa

  // 勝手にflexbox化
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  // position:fixed時の配置情報をリセット
  padding-top: 0px !important;
  transform: initial !important;
}

.dialog{
  @include dialog();
}

.dialogContent{
  @include dialog();
  min-width: 75vw !important;
  &>div{
    min-width: 100% !important;
  }
  -webkit-overflow-scrolling: touch;
}